:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #12c2e9;

  background: linear-gradient(to right,#ab3cb5, #673ab7 , #43bdfc, #673ab7,#ab3cb5);

}


.login-card{
  background-color: transparent;
  width: 350px;
  min-height: 520px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  color: white;
  transition: transform 0.5s ease;
}

@keyframes pivot {
  0% {
    transform: translateX(10px); /* Sin rotación al inicio */
  }
  12% {
    transform: translateX(-20px); /* Rotación a la derecha */
  }
  25% {
    transform: translateX(20px); /* Rotación a la derecha */
  }
  37% {
    transform: translateX(-20px); /* Rotación a la derecha */
  }
  50% {
    transform: translateX(20px); /* Rotación a la derecha */
  }
  63% {
    transform: translateX(-20px); /* Rotación a la derecha */
  }
  75% {
    transform: translateX(20); /* Rotación a la izquierda */
  }
  87% {
    transform: translateX(-20); /* Rotación a la izquierda */
  }
  100% {
    transform: translateX(0px); /* Sin rotación al final */
  }
}


.login-card.animate {
  animation: pivot 1.5s ease infinite; /* Desplazar la tarjeta hacia la izquierda */
}

.login-icon{
  padding-top: 0.5rem; 
}

.person-icon{
  font-size:4rem ;
}

.lock{
  font-size: 1.8rem;
  padding-top: 2.5rem;
}

.login{
  margin: 0.7rem 0.4rem 0 ;
  font-weight: 500;
  font-size: 1.8em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 85%;
}

.label-login{
  margin: 0.7rem 0;
  font-weight: 700;
  font-size: 0.7rem;
}

.input-login{
  padding: 0.7rem 0.5rem ;
  width: 93%;
  border: none;
}
.input-login:focus{
  outline: 1px solid #bdbdbd;
  box-shadow: 0 0 10px #bdbdbd;
}
.submit-button{
  background-color: #467eee;
  padding: 0.3rem 3rem;
  border-radius: 25px;
  margin: auto;
  margin-top: 1rem;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.social-net{
  display: flex;
  width: 100%;
  justify-content: space-around ;
  margin-top: 1rem;
  
  
}

.social{
  font-size: 1.5rem;
  cursor: pointer;
  
}

.forgot{
  display: none;
}


